---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ass.cleaning">
  <main
    class="w-full h-screen text-center flex justify-center align-middle flex-col"
  >
    <h1 class="text-4xl font-bold">Please claim this Ludwig</h1>
    <p class="text-xl">
      DMs are open on twitter - <a
        href="https://twitter.com/t3dotgg"
        class="text-blue-500 hover:text-blue-800 underline">@t3dotgg</a
      >
    </p>
  </main>
</Layout>
